<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시글 주제</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-4">

    <div th:if="${boards.isEmpty()}" class="alert alert-info text-center">
        게시판이 없습니다
    </div>

    <div class="card mb-3 text-center">
        <div class="card-body">

            <h1><a href="/articles">전체 게시글 보기</a></h1>
        </div>
    </div>

    <div th:unless="${boards.isEmpty()}" th:each="board : ${boards}">
        <div class="card mb-3">
            <div class="card-body">
                <a th:href="@{/boards/{id} (id=${board.id})}" class="card-link">
                    <h3>[[${board.id}]]. [[${board.boardTitle}]]</h3>
                </a>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap JS and dependencies -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
